<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div
      class="container-fluid d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h4 class="mb-0 ms-2">Kiganjani image and video Website</h4>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link btn btn-outline-primary mx-1"
            style="cursor: pointer;" routerLink="/image">Image</a>
          <a class="nav-link btn btn-outline-primary mx-1"
            style="cursor: pointer;" routerLink="/video">Video</a>
          <a class="nav-link btn btn-outline-primary mx-1"
            style="cursor: pointer;" routerLink="/results">Results</a>
        </div>
      </div>
    </div>
  </nav>

  <div>

    <router-outlet></router-outlet>
  </div>
  
</div>


